/*this file is trash.  i understood css even less than i do now when i started and i
 * have no intention of refactoring this.  hopefully i'll understand it better on my
 * next project*/

/* latin */
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(https://fonts.gstatic.com/s/patuaone/v9/ZXuke1cDvLCKLDcimxB44_lu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'IM Fell DW Pica SC';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL DW Pica SC'), local('IM_FELL_DW_Pica_SC'), url(https://fonts.gstatic.com/s/imfelldwpicasc/v8/0ybjGCAu5PfqkvtGVU15aBhXz3EUrnTm_xKL.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(https://fonts.gstatic.com/s/alegreyasanssc/v8/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1Du5D4iNhMA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a:link                         {color: aqua}
a:visited                      {color: aqua}
a:focus, a:hover, a:active     {color: #cf0021}

h1 {
    font-family: "IM Fell DW Pica SC";
    color: lightsteelblue;
    margin: 0em;
    padding: 0em;
    border: none;
    margin-left: 2em;
    /*float: left;*/
}

/*body         {background: #000000;
              font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
              color: #2EFE64;
              font-weight:bold}*/

body {
    font-family: "Patua One";
    background-color: #101010;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    color: lightsteelblue;
    /*background-image: url('dark-black-sand-texture-8k-p8.jpg');*/
}

.fakecenter {
  margin-left: 7em; 
}

.lesscenter {
  margin-left: 3em; 
}

.thickprompt {
    font-family: "Patua One";
    font-size: 1em;
    width: 8em;
}

.box {
    border: dotted, thin, white;
}

.centerheader {
    color: cornflowerblue;
}

.centerheader2 {
    color: aqua;
}

.bar{
    display: inline-block;
    clear: left;
    margin-left: 2em;
}

.download{
    margin: 1em;
}

.offstate {
    opacity: 0.1;
}

/*this is the one that allowed horizontal tiling*/
.shortscroll {
    height: 50vh; /* or any value */
    padding: 1em;
    margin-left: 2em;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
}

/*table {
  margin-top: 0em;
  padding-top: 0em;
  border: none;
}*/

td {
  padding-right: 1em;
}

.info {
  display: inline-block;
  height: 70vh; /* or any value */
  padding: 1em;
  vertical-align: top;
  margin-top: 1em;
  white-space: normal;
}


.scrollable2 {
  display: inline-block;
  height: 70vh; /* or any value */
  padding: 1em;
  overflow: scroll;
  overflow-x: hidden;
  vertical-align: top;
  margin-top: 1em;
  width: 60em;
  white-space: normal;
}

.scrollable3 {
  display: inline-block;
  height: 70vh; /* or any value */
  padding: 1em;
  /*overflow: scroll;*/
  overflow-x: hidden;
  vertical-align: top;
  margin-top: 2em;
  width: 20em;
  white-space: normal;
}

.scrollable {
  #display: inline-block;
  height: 70vh; /* or any value */
  padding: 0em 1em 1em 1em;
  overflow: scroll;
  overflow-x: hidden;
  vertical-align: top;
  margin-top: 0;
}

.scrollable4 {
  display: inline-block;
  height: 55vh; /* or any value */
  padding: 1em;
  overflow: scroll;
  overflow-x: hidden;
  vertical-align: top;
  margin-top: 1em;
}

.newsscrollable {
  display: inline-block;
  height: 70vh; /* or any value */
  padding: 1em;
  overflow: scroll;
  overflow-x: hidden;
  vertical-align: top;
  margin-top: 0em;
}

.oldscrollable {
  height: 70vh; /* or any value */
  padding: 1em;
  float: left;
  overflow: scroll;
  overflow-x: hidden;
}

.stick {
  display: inline-block;
}

.stick2 {
  display: block;
  font-family: "Alegreya Sans SC";
  padding-left: 1em;
}

.lrscrollable {
  display: inline-block;
  white-space: nowrap;
  margin-left: 1em;
  margin-top: 1em;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}

.oldlrscrollable {
    margin-left: 1em;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 1920px;
}

.scoot {
    margin-left: 2em;
}

.scootmore {
    margin-left: 3em;
}

.scootcrazy {
    margin-left: 4em;
}

li {
  font-family: "Alegreya Sans SC";
  list-style-type: none;
}

span.golden {
  color: #AB82FF;
}

span.neutraltimes, button.neutraltimes, td.neutraltimes, li.neutraltimes {
  font-family: "Alegreya Sans SC";
  font-size: 1.2em;
  color: lightsteelblue;
  list-style-type: none;
  
  background-color: inherit;
  border: none;
}

span.funtimes, button.funtimes, td.funtimes, li.funtimes {
  font-family: "Alegreya Sans SC";
  font-size: 1.2em;
  color: sandybrown;
  list-style-type: none;
  
  background-color: inherit;
  border: none;
}

span.siltimes, button.siltimes, td.siltimes, li.siltimes {
  font-family: "Alegreya Sans SC";
  font-size: 1.2em;
  color: #66AACD;
  list-style-type: none;
  
  background-color: inherit;
  border: none;
}

span.giver, button.giver, td.giver, li.giver {
  font-family: "Alegreya Sans SC";
  font-size: 1.2em;
  color: lightgreen;
  list-style-type: none;
  
  background-color: inherit;
  border: none;
}

td.doom, li.doom {
  font-family: "Alegreya Sans SC";
  font-size: 1.2em;
  color: tomato;
  list-style-type: none;
}

td.great, li.great {
  font-family: "Alegreya Sans SC";
  font-size: 1.2em;
  color: mediumaquamarine;
  list-style-type: none;
}

td.caution, li.caution {
  font-family: "Alegreya Sans SC";
  font-size: 1.2em;
  color: orange;
  list-style-type: none;
}

td.selfline, li.selfline {
  font-family: "Alegreya Sans SC";
  font-size: 1.2em;
  color: aqua;
  list-style-type: none;
}

.funnertimes {
  font-size: 1.2em;
  color: linen;
}

.sillytimes {
  font-size: 1.2em;
  color: wheat;
}

.logpanel {
    position: relative;
    float: right;
    margin-right: 1em;
    margin-top: 1em;
}

.leftlogpanel {
    display: inline-block;
    vertical-align: bottom;
    /*position: relative;
    float: left;*/
}

.log {
    /*background-image: url('glamis-dunes-7-1529726.jpg');*/
    background-size:cover;*/
    position: absolute;
    /*clear: right;*/
    float: left;
    margin-left: 2em;
}

.silly {
    width: 3em;
    height: 3em;
}

.clonebutton {
    word-wrap: break-word;
    font-family: 'Alegreya Sans SC';
    font-size: 1em;
    width: 6em;
    margin-top: .25em;
    margin-left: .25em;
    background-color: gainsboro;
    border: solid thick gainsboro;
    border-radius: .25em;
    height: 1.75em;
}

button {
    /*width: 10vw;*/
    word-wrap: break-word;
    font-family: 'Alegreya Sans SC';
    font-size: 1em;
    padding: 0;
    margin: 0;
    /*color: blue;*/

 /*   width: 4em;
    height: 4em;
    margin: .2em;
    padding: none;
    border: none;
    border-radius: .25em;*/
}

button.picked {
    width: 6em;
    margin-top: .25em;
    margin-left: .25em;
    color: black;
    background-color: aqua;
    border: solid thick aqua;
    border-radius: .25em;
}

button.real {
    width: 6em;
    margin-top: .25em;
    margin-left: .25em;
    
    background-color: gainsboro;
    border: solid thick gainsboro;
    border-radius: .25em;
     
    /*font-weight: bold;*/
    /*background-image: url('k13726987.jpg');
    color: gray;
    border: solid thin black;
    border-radius: .25em;*/
}

button.guessed {
    border: none;
    background-color: inherit;
    /*color: palegoldenrod;*/
    color: aqua;
    font-size: 1.5em;
    /*color: wheat;
    /*color: sandybrown;*/
    /*background-color: sandybrown;*/
}

button.unguessed {
    font-size: 1.5em;
    border: none;
    background-color: inherit;
    color: lightsteelblue;
    /*background-color: teal;*/
}

button.worthy {
    font-size: 1.5em;
    border: none;
    background-color: inherit;
    /*color: lemonchiffon;*/
    color: lemonchiffon;
    /*background-color: teal;*/
}

button.other {
    font-family: "IM Fell DW Pica SC";
    //font-size: 1.5em;
    border: none;
    background-color: inherit;
    color: lightsteelblue;
    /*background-color: teal;*/
    
    /*font-family: "IM Fell DW Pica SC";
    color: lightsteelblue;
    margin: 0em;
    padding: 0em;
    border: none;
    margin-left: 2em;
    float: left;*/
}

button.list {
    font-size: 1em;
    border: none;
    background-color: inherit;
    color: lightsteelblue;
    margin: 0em;
    padding: 0em;
}

button.picked:hover {
    background-color: aliceblue;
    border: solid thick aliceblue;
}

button.real:hover {
    background-color: azure;
    border: solid thick azure;
}

.clonebutton:hover {
    background-color: azure;
    border: solid thick azure;
}

button.unguessed:hover {
    color: sandybrown;
    /*border: solid;*/
}

button.guessed:hover {
    color: sandybrown;
    /*border: solid;*/
}

button.worthy:hover {
    color: sandybrown;
    /*border: solid;*/
}

button.other:hover {
    color: sandybrown;
    /*border: solid;*/
}

button.list:hover {
    color: sandybrown;
    /*border: solid;*/
}

button.neutraltimes:hover {
    color: sandybrown;
    /*border: solid;*/
}

button.funtimes:hover {
    color: aqua;
    /*border: solid;*/
}

button.siltimes:hover {
    color: aqua;
    /*border: solid;*/
}

button.giver:hover {
    color: aqua;
    /*border: solid;*/
}


p.talk {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    background: rgba(204, 204, 204, 0.0);
}

.name {
    position: relative;
    margin-top: -7em;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
    background: rgba(204, 204, 204, 0.0);
    color: white;
    /*border: solid white 1em;*/

}

button.next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 4em;
    margin: .2em;
    padding: none;
    border: none;
    border-radius: 1em;
    color: black;
    background-color: gray;
    margin-top: -3em;
}

td {
    padding-left: 1em;
    padding-bottom: none;
    padding-top: none;
    border: none;
    margin: none;
}

tr.spiffy {
    color: aqua;
}

tr.gridded {
    outline: dotted thin gray;
    margin-top: 50em;
}

p.centerheader {
    font-size: 2em;
    margin: 0em;
    margin-left: 2em;
    padding: 0em;
    border: none;
}

.blue {
    margin: 0em;
    padding: 0em;
    border: none;
    color: wheat;
}

p.tiny {
    position: absolute;
    top: .3em;;
    right: .5em;
    font-size: .6em;
}

.error {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

p.errormessage {
    font-family: 'Alegreya Sans SC';
    font-weight: 800;
    color: lime;
    margin: 0em;
    margin-left: 2em;
    border: none;
    padding: 0.25em;
    font-size: 1.2em;
}

.shift {
    margin-left: 3em;
}

input {
  height: 2em;
}

ul {
  margin-top: 0em;
}

p {
    /*margin: 0em;
    padding: 0em;
    border: none;*/
    /*margin-left: 2em;*/
    margin-right: 2em;
    margin-bottom: 0em;
    /*font-family: "Cinzel Decorative", Arial, sans-serif;
    position: relative;*/
    color: lightsteelblue;
    font-size: 1.25em;
    /*border: solid white 1em;*/
}

p.lineup {
  margin-left: 0.25em;
}

.phonescroll {
  display: none;
}

  .phonehide {
    display: inline-block;
  }
  
.phonestick {
  display: inline;
}

/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/

@media only screen and (max-device-width:640px){

.phonestick {
  display: inline-block;
}
  
  hr {
    display: none;
  }
  
  .phonehide {
    display: none;
  }
    
  .phonescroll {
    display: block;
  }
  
  h1 {
      font-family: "IM Fell DW Pica SC";
      color: lightsteelblue;
      margin: 0em;
      padding: 0em;
      border: none;
      margin-left: 0em;
      width: 15em;
  }

  /*body {
      font-family: "Patua One";
      background-color: #101010;
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
      color: lightsteelblue;
  }*/

  /*.fakecenter {
    margin-left: 7em; 
  }

  .lesscenter {
    margin-left: 3em; 
  }*/

  .thickprompt {
      display: inline-block;
      font-family: "Patua One";
      font-size: 5em;
      width: 15.5em;
      height: 2em;
  }
  
  .subprompt {
      display: inline-block;
      font-family: "Patua One";
      font-size: 5em;
      width: 16em;
      height: 2em;
      margin-bottom: .25em;
      color: white;
      background-color: inherit;
      border: none;
  }

  /*.box {
      border: dotted, thin, white;
  }*/

  .centerheader{
    font-size: 4em;
    color: cornflowerblue;
  }

  .bar{
      display: inline-block;
      margin-left: 0em;
      margin-bottom: 1em;
  }

  /*.download{
      margin: 1em;
  }

  .offstate {
      opacity: 0.1;
  }*/

  /*this is the one that allowed horizontal tiling*/
  /*.shortscroll {
      height: 50vh;
      padding: 1em;
      margin-left: 2em;
      float: left;
      overflow: scroll;
      overflow-x: hidden;
  }*/

  /*.info {
    display: inline-block;
    height: 70vh;
    padding: 1em;
    vertical-align: top;
    margin-top: 1em;
    white-space: normal;
  }


  .scrollable2 {
    display: inline-block;
    height: 70vh;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
    vertical-align: top;
    margin-top: 1em;
    width: 60em;
    white-space: normal;
  }

  .scrollable3 {
    display: inline-block;
    height: 70vh;
    padding: 1em;
    overflow-x: hidden;
    vertical-align: top;
    margin-top: 2em;
    width: 20em;
    white-space: normal;
  }

  .scrollable {
    display: inline-block;
    height: 70vh;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
    vertical-align: top;
    margin-top: 1em;
  }

  .oldscrollable {
    height: 70vh;
    padding: 1em;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
  }

  .stick {
    display: inline-block;
  }*/

  .lrscrollable {
    display: none;
  }

  .oldlrscrollable {
      margin-left: 1em;
      overflow: scroll;
      overflow-y: hidden;
      overflow-x: hidden;
      min-width: 1920px;
  }

  .scoot {
      margin-left: 2em;
  }

  .scootmore {
      margin-left: 3em;
  }

  .scootcrazy {
      margin-left: 4em;
  }

  ul {
    margin-left: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin: 0;
    padding: 0;
    font-family: "Alegreya Sans SC";
    list-style-type: none;
  }

  span.golden {
    color: #AB82FF;
  }*/

  span.neutraltimes, button.neutraltimes, td.neutraltimes, li.neutraltimes {
    font-family: "Alegreya Sans SC";
    font-size: 4.8em;
    color: lightsteelblue;
    list-style-type: none;
    
    background-color: inherit;
    border: none;
  }

  span.funtimes, button.funtimes, td.funtimes, li.funtimes {
    font-family: "Alegreya Sans SC";
    font-size: 4.8em;
    color: sandybrown;
    list-style-type: none;
    
    background-color: inherit;
    border: none;
  }

  span.siltimes, button.siltimes, td.siltimes, li.siltimes {
    font-family: "Alegreya Sans SC";
    font-size: 4.8em;
    color: #66AACD;
    list-style-type: none;
    
    background-color: inherit;
    border: none;
  }

  span.giver, button.giver, td.giver, li.giver {
    font-family: "Alegreya Sans SC";
    font-size: 4.8em;
    color: lightgreen;
    list-style-type: none;
    
    background-color: inherit;
    border: none;
  }

  td.doom, li.doom {
    width: 9.75em;
    word-wrap: break-word;
    font-family: "Alegreya Sans SC";
    font-size: 8em;
    color: tomato;
    list-style-type: none;
    outline: solid thick gray;
  }

  td.great, li.great {
    width: 9.75em;
    word-wrap: break-word;
    font-family: "Alegreya Sans SC";
    font-size: 8em;
    color: mediumaquamarine;
    list-style-type: none;
    outline: solid thick gray;
  }

  td.caution, li.caution {
    width: 9.75em;
    word-wrap: break-word;
    font-family: "Alegreya Sans SC";
    font-size: 8em;
    color: orange;
    list-style-type: none;
    outline: solid thick gray;
  }
  
  td.none, li.none {
    width: 9.75em;
    border-left: none;
    word-wrap: break-word;
    font-family: "Alegreya Sans SC";
    font-size: 8em;
    color: lightsteelblue;
    list-style-type: none;
    outline: solid thick gray;
  }

  td.selfline, li.selfline {
    font-family: "Alegreya Sans SC";
    font-size: 4.8em;
    color: aqua;
    list-style-type: none;
  }

  .funnertimes {
    font-size: 4.8em;
    color: linen;
  }

  .sillytimes {
    font-size: 4.8em;
    color: wheat;
  }

  .logpanel {
    display: none;
  }

  /*.leftlogpanel {
      display: inline-block;
      vertical-align: bottom;
  }

  .log {
      background-size:cover;
      position: absolute;
      float: left;
      margin-left: 2em;
  }

  .silly {
      width: 3em;
      height: 3em;
  }*/

  .clonebutton {
      word-wrap: break-word;
      font-family: 'Alegreya Sans SC';
      font-size: 4em;
      width: 6em;
      margin-top: .25em;
      margin-left: .25em;
      background-color: gainsboro;
      border: solid thick gainsboro;
      border-radius: .25em;
      height: 1.75em;
  }

  button {
      word-wrap: break-word;
      font-family: 'Alegreya Sans SC';
      font-size: 4em;
      padding: 0;
      margin: 0;
  }

  button.picked {
      width: 6em;
      height: 2em;
      margin-top: .25em;
      margin-left: .25em;
      color: black;
      background-color: aqua;
      border: solid thick aqua;
      border-radius: .25em;
  }

  button.real {
      width: 6em;
      height: 2em;
      margin-top: .25em;
      margin-left: .25em;
      
      background-color: gainsboro;
      border: solid thick gainsboro;
      border-radius: .25em;
  }

  button.guessed {
      border: none;
      background-color: inherit;
      color: aqua;
      font-size: 6em;
  }

  button.unguessed {
      font-size: 6em;
      border: none;
      background-color: inherit;
      color: lightsteelblue;
      /*background-color: teal;*/
  }

  button.worthy {
      font-size: 6em;
      border: none;
      background-color: inherit;
      /*color: lemonchiffon;*/
      color: lemonchiffon;
      /*background-color: teal;*/
  }

  /*button.other {
      font-family: "IM Fell DW Pica SC";
      border: none;
      background-color: inherit;
      color: lightsteelblue;
  }*/

  button.list {
      font-size: 4em;
      border: none;
      background-color: inherit;
      color: lightsteelblue;
      margin: 0em;
      padding: 0em;
  }

  /*button.picked:hover {
      background-color: aliceblue;
      border: solid thick aliceblue;
  }

  button.real:hover {
      background-color: azure;
      border: solid thick azure;
  }

  .clonebutton:hover {
      background-color: azure;
      border: solid thick azure;
  }

  button.unguessed:hover {
      color: sandybrown;
  }

  button.guessed:hover {
      color: sandybrown;
  }

  button.worthy:hover {
      color: sandybrown;
  }

  button.other:hover {
      color: sandybrown;
  }

  button.list:hover {
      color: sandybrown;
  }

  button.neutraltimes:hover {
      color: sandybrown;
  }

  button.funtimes:hover {
      color: aqua;
  }

  button.siltimes:hover {
      color: aqua;
  }

  button.giver:hover {
      color: aqua;
  }*/


  p.talk {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4em;
      background: rgba(204, 204, 204, 0.0);
  }

  /*.name {
      position: relative;
      margin-top: -7em;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(204, 204, 204, 0.0);
      color: white;
  }*/

  /*button.next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15em;
      height: 4em;
      margin: .2em;
      padding: none;
      border: none;
      border-radius: 1em;
      color: black;
      background-color: gray;
      margin-top: -3em;
  }

  td {
      padding-left: 1em;
      padding-bottom: none;
      padding-top: none;
      border: none;
      margin: none;
  }*/

  /*tr.spiffy {
      color: aqua;
  }

  tr.gridded {
      outline: dotted thin gray;
      margin-top: 50em;
  }*/

  p.centerheader {
      font-size: 4em;
      margin: 0em;
      margin-left: 0em;
      padding: 0em;
      border: none;
  }
  
  p.guessed {
      color: aqua;
      font-size: 4em;
      margin: 0em;
      margin-left: 0em;
      padding: 0em;
      border: none;
  }

  /*.blue {
      margin: 0em;
      padding: 0em;
      border: none;
      color: wheat;
  }*/

  p.tiny {
    display: none;
  }

  .error {
    display: none;
  }

  /*p.errormessage {
      font-family: 'Alegreya Sans SC';
      font-weight: 800;
      color: lime;
      margin: 0em;
      margin-left: 2em;
      border: none;
      padding: 0.25em;
      font-size: 4.8em;
  }*/

  /*.shift {
      margin-left: 3em;
  }

  input {
    height: 2em;
  }

  ul {
    margin-top: 0em;
  }*/

  p {
      margin-right: 2em;
      margin-bottom: 0em;
      color: lightsteelblue;
      font-size: 4em;
  }

  /*p.lineup {
    margin-left: 0.25em;
  }*/
}
