
/* latin */
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(
    https://fonts.gstatic.com/s/patuaone/v9/ZXuke1cDvLCKLDcimxB44_lu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
  U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'IM Fell DW Pica SC';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL DW Pica SC'), local('IM_FELL_DW_Pica_SC'), url(
    https://fonts.gstatic.com/s/imfelldwpicasc/v8/0ybjGCAu5PfqkvtGVU15aBhXz3EUrnTm_xKL.woff2)
  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
  U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'), url(
    https://fonts.gstatic.com/s/alegreyasanssc/v8/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1Du5D4iNhMA.woff2)
  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
  U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a:link                         {color: aqua}
a:visited                      {color: aqua}
a:focus, a:hover, a:active     {color: #cf0021}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 1em;
}

h1 {
  font-family: "IM Fell DW Pica SC";
  /*color: white;*/
  font-size: 2em;
}

div.standard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*overflow: hidden;*/
}

div.substandard {
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
  /*overflow: hidden;*/
}

div.standardspace {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

div.splay {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

div.splayspace {
  display: flex;
  flex-direction: row;
  flex: 1;
}

body {
  font-family: "Patua One";
  background-color: #101010;
  color: lightsteelblue;
  /*margin: 0em 0em 0em 0em;*/
  
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  background-image: url('scuffedstatic_dark1400x900_2.jpg');
}

.osha {
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center center;
  background-image: url('osha.png');
  opacity: 0.2;
}

.lung {
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center center;
  background-image: url('lung.png');
  opacity: 0.2;
}

select {
  color: #101010;
  font-family: 'Alegreya Sans SC';
  font-size: 1.2em;
 
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}

select:hover {
  border: solid thin azure;
}

hr {
  background-color: gray;
  margin: 0.5em 0em 0.5em 0em;
  height: 2px;
}

div.scrollable {
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
}

label {
  font-family: "Patua One";
}

table, div.ul {
  display: flex;
  flex-direction: column;
  font-family: 'Alegreya Sans SC';
  overflow: hidden;
}

table.static {
  flex-shrink: 0;
}

table th {
  color: white;
}

tbody.gridded {
  overflow-y: scroll;
  overflow-x: hidden;
}

tbody.gridded tr {
  outline: dotted thin gray;
}

thead th.narrow, tbody td.narrow {
  width: 4em;
}

thead th.medium, tbody td.medium {
  width: 8em;
}

thead th.wide, tbody td.wide {
  width: 14em;
}

thead th.superwide, tbody td.superwide {
  width: 25em;
}

td, th {
  padding: 0em 0em 0em 1em;
  text-align: left;
  /*word-wrap: anywhere;*/
  word-break: break-word;
}

td.right, th.right {
  padding-right: 1em;
}

th.center {
  text-align: center;
}

td.pat, th.pat {
 font-family: "Patua One";
}

ul {
  display: inline-block;
  font-family: 'Alegreya Sans SC';
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0em 1em 0em 0em;
}

/*use div.ul and ul to mimic table behaviour in standardspace
use div.ul and div.fakeul for something besides ul's.  really
could get rid of ul and use this class now*/
div.fakeul {
  /*display: inline-block;*/
  font-family: 'Alegreya Sans SC';
  overflow-y: auto;
  overflow-x: hidden;
  /*padding: 0em 1em 0em 0em;*/
}

button {
  /*word-wrap: break-word;*/
  font-family: 'Alegreya Sans SC';
}

/*just the main title so far*/
button.main {
  font-family: "IM Fell DW Pica SC";
  border: none;
  background-color: inherit;
  color: lightsteelblue;
  font-size: 2em;
}

button.real {
  width: 6em;
  border-radius: .25em;
  font-size: 1em;
  color: black;
}

button.real:hover {
  background-color: azure;
  border: solid thick azure;
}

button.unpicked {
  background-color: gainsboro;
  border: solid thick gainsboro;
}

button.picked {
  background-color: aqua;
  border: solid thick aqua;
}

button.blancopicked {
  background-color: aquamarine;
  border: solid thick aquamarine;
}

button.utility {
  font-size: 1em;
  font-weight: bold;
  width: 2em;
  color: black;
  background-color: gainsboro;
  border: solid thin gainsboro;
  border-radius: .25em;
}

button.disutility {
  font-size: 1em;
  font-weight: bold;
  width: 2em;
  color: black;
  background-color: darkgray;
  border: solid thin darkgray;
  border-radius: .25em;
}

button.tight {
  font-size: 0.75em;
  width: 4.5em;
}

button.smallunguessed {
  /*word-wrap: anywhere;*/
  word-break: break-word;
  font-size: 1em;
  border: none;
  background-color: inherit;
  color: lightsteelblue;
}

button.smallunguessed:hover, button.main:hover{
  color: sandybrown;
}

/* for main search bar */
.thickprompt {
  font-family: "Patua One";
  font-size: 1em;
  width: 8em;
}

input {
  height: 2em;
  border: thin solid white;
  border-radius: 0.125em;
}

input.standard {
  width: 15em;
}

input.radio {
  height: inherit;
}

input:focus {
  border: thin solid lightskyblue;
  border-radius: 0.125em;
}

span.funtimes, button.funtimes, td.funtimes, li.funtimes {
  font-family: "Alegreya Sans SC";
  font-size: 1.2em;
  background-color: inherit;
  border: none;
}

p.errormessage {
  font-family: 'Alegreya Sans SC';
  color: lime;
  font-size: 1.3em;
}

p.attention, span.attention {
  font-family: 'Alegreya Sans SC';
  color: pink;
  font-size: 1.3em;
}

li.blancomessage {
  font-family: 'Alegreya Sans SC';
  color: mediumaquamarine;
  font-size: 1.2em;
}

.art {
  width: 3em;
  height: 3em;
}

span.shrunk {
  font-size: 0.75em;
}

.tiny {
  font-size: 0.6em;
}

.rating {
  font-size: 1.2em;
}

p.phonehide {
  display: inherit;
}

p.normalhide {
  display: none;
}

.phonescroll, .phoneinlinescroll {
  display: none;
}

.normalscroll {
  display: inherit;
}

.normalinlinescroll {
  display: inline;
}

.normalinlineblockscroll {
  display: inline-block;
}

/************************ALL GENERIC SPACING STUFF GOES HERE********************************/
/************************ALL GENERIC SPACING STUFF GOES HERE********************************/
/************************ALL GENERIC SPACING STUFF GOES HERE********************************/
/************************ALL GENERIC SPACING STUFF GOES HERE********************************/
/************************ALL GENERIC SPACING STUFF GOES HERE********************************/
/************************ALL GENERIC SPACING STUFF GOES HERE********************************/
/************************ALL GENERIC SPACING STUFF GOES HERE********************************/
/************************ALL GENERIC SPACING STUFF GOES HERE********************************/
.space {
  margin-right: .25em;
}

.edge {
  margin-right: 2em;
}

.lessscoot {
  margin-left: 1.0em;
}

.scoot {
  margin-left: 2.0em;
}

.pushdown {
  margin-bottom: 0.25em;
}

/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/

@media only screen and (max-device-width:640px){
  
.phonescroll {
  display: inherit;
}

.phoneinlinescroll {
  display: inline;
}

.normalscroll, .normalinlinescroll, .normalinlineblockscroll {
  display: none;
}
  
div.standard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  /*overflow: hidden;*/
}

a {
  font-size: 2.5em;
}

p a {
  font-size: 1.5em;
}

a[href^="mailto:"]
{ 
  font-size: 1.5em;
}

label {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

input[type=radio] {
  border: 0px;
  width: 1em;
  height: 1em;
}

h1 {
  font-family: "IM Fell DW Pica SC";
  font-size: 3em;
}

input {
  font-size: 2em;
}

select {
  font-size: 3em;
  width: 8em;
}

button.main {
  font-size: 4em;
}

.thickprompt {
  font-size: 2em;
  width: 6em;
}

button.real {
  width: 4.5em;
  font-size: 2.5em;
}

button.tight {
  font-size: 2.25em;
  width: 4em;
}

button.utility {
  font-size: 2em;
  width: 3em;
}

button.disutility {
  font-size: 2em;
  width: 3em;
}

span.funtimes, button.funtimes, td.funtimes, li.funtimes {
  font-size: 2em;
}

button.smallunguessed {
  font-size: 2.5em;
}

thead th.narrow, tbody td.narrow {
  width: 8em;
}

thead th.medium, tbody td.medium {
  width: 15em;
}

thead th.wide, tbody td.wide {
  width: 15em;
}

thead th.superwide, tbody td.superwide {
  width: 50em;
}

span.shrunk {
  font-size: 1.5em;
}

.rating {
  font-size: 2.5em;
}

.phonetext {
  font-size: 2em;
}

p.errormessage {
  font-size: 4em;
}

.space {
  margin-right: 0em;
}

.lessscoot {
  margin-left: 0em;
}

p.phonehide {
  display: none;
}

p.normalhide {
  display: inherit;
}

} /*@media only screen and (max-device-width:640px)*/
