{% extends "base.html" %}

{% block content %}

{# not sure why i didn't need a standardspace here.  the ul nerfs?
whatever, it works, other stuff to do#}
<div class="standardspace">
<div class="splay">
  <div class="splayspace">
  
  </div>
  <div class="substandard">
    <a target="_blank" href="https://www.youtube.com/watch?v=ozfaLzjjZyE">
    https://www.youtube.com/</a>
    <a target="_blank" href="https://reclaimthenet.org/dick-masterson-new-project-2-mastercard/">
    blacklist</a>
    <a target="_blank" href="https://www.jsonline.com/story/news/2020/08/27/kyle-rittenhouse-defended-fightback-foundation-kenosha-shooting-l-lin-wood-raising-money-gofundme/5650147002/">
    https://www.jsonline.com/</a>
    <a target="_blank" href="https://fightback.law/products/donations-for-kyle-rittenhouse?variant=36065873854631">
    https://fightback.law/</a>
    <a target="_blank" href="https://www.youtube.com/watch?v=NSU9ZvnudFE">
    colion noir</a>
    <a target="_blank" href="https://www.youtube.com/watch?v=FRf9UxsM-NE&feature=emb_err_woyt">
    switch to bing</a>
    <form action="/kenosha" method='POST'>
    <button class="smallunguessed" type="submit" name="val" value='SS1DocDump.pdf'>
      google is retarded</button>
      </form>
    
    <p class="pushdown">wail into the deafening silence of the silicate wastes
    <a href="../errata">more news</a></p>
    <div class="pushdown">
    <form action="/chat" method='POST'>
      <input type="text" name="babble" value="" maxlength="60">
      <button class="real unpicked" type="submit" value='SCREAM'>SCREAM</button>
    </form>
    </div>
    <div class="splay">
      <div class="ul">    
        <ul>
          <form action="/stalk" method='GET'> 
          {% if babblings %}
            {% for babble in babblings %}
              <li><button class="funtimes" onMouseOver="this.style.color='{{colors[0]}}'"
                onMouseOut="this.style.color='{{colors[babble[1].babbler.memberlevel]}}'"
                style="color: {{colors[babble[1].babbler.memberlevel]}};"
                name="member" value="{{babble[1].babbler.id}}">
                {{babble[1].babbler.username}}: </button>
                <span style="color: {{babble[0]}}" class="normalinlinescroll funtimes">
                {{babble[1].babble}}</span>
                <span style="color: {{babble[0]}}" class="phoneinlinescroll shrunk">
                {{babble[1].babble}}</span>
              </li>
            {% endfor %}
          {% endif %}
          </form>
        </ul>
      </div>
    </div> {# END inner splay #}
  </div> {# END standard #}
  <div class="splayspace" style="min-width: 0;">
  <div class="substandard" style="margin: 0em 1em 0em 1em;">
  <div class="standardspace"></div>
  <div class="normalscroll pushdown">
    <form action="/kenosha" method='POST'>
      <button class="smallunguessed" type="submit" name="val" value='doom.mp4'>
      doom</button>
      <button class="smallunguessed" type="submit" name="val" value='-1_extinguisher_beatdown.mp4'>
      1</button>
      <button class="smallunguessed" type="submit" name="val" value='0_extinguisher_aftermath.mp4'>
      2</button>
      <button class="smallunguessed" type="submit" name="val" value='0.1_flaming_car.mp4'>
      3</button>
      <button class="smallunguessed" type="submit" name="val" value='0.01shop_windows.mp4'>
      4</button>
      <button class="smallunguessed" type="submit" name="val" value='0.2.mp4'>
      5</button>
      <button class="smallunguessed" type="submit" name="val" value='1_kyle-rittenhouse-graffiti.jpg'>
      6</button>
      <button class="smallunguessed" type="submit" name="val" value='2_gas_militia.webp'>
      7</button>
      <button class="smallunguessed" type="submit" name="val" value='2.5militia.mp4'>
      8</button>
      <button class="smallunguessed" type="submit" name="val" value='3_roof_mechanics.mp4'>
      9</button>
      <button class="smallunguessed" type="submit" name="val" value='3.5_rock_throwing.mp4'>
      10</button>
      <button class="smallunguessed" type="submit" name="val" value='4_militia_prep.mp4'>
      11</button>
      <button class="smallunguessed" type="submit" name="val" value='5_militia_member.mp4'>
      12</button>
      <button class="smallunguessed" type="submit" name="val" value='6_gas_station_reasoning.mp4'>
      13</button>
      <button class="smallunguessed" type="submit" name="val" value='7_gas_station_intensity.mp4'>
      14</button>
      <button class="smallunguessed" type="submit" name="val" value='8_gas_station_tensions.mp4'>
      15</button>
      <button class="smallunguessed" type="submit" name="val" value='8.5_gas_tensions.mp4'>
      16</button>
      <button class="smallunguessed" type="submit" name="val" value='9_gas_station_tenstions.mp4'>
      17</button>
      <button class="smallunguessed" type="submit" name="val"
      value='10_flaming_dumpster_extinguish.mp4'>
      18</button>
      <button class="smallunguessed" type="submit" name="val" value='11_dumpster_fire.mp4'>
      19</button>
      <button class="smallunguessed" type="submit" name="val" value='12_first_kill.mp4'>
      20</button>
      <button class="smallunguessed" type="submit" name="val" value='12.5_molotov.mp4'>
      21</button>
      <button class="smallunguessed" type="submit" name="val" value='13_first_kill_explanation.mp4'>
      22</button>
      <button class="smallunguessed" type="submit" name="val" value='13.5_sex_offender.jpg'>
      23</button>
      <button class="smallunguessed" type="submit" name="val" value='14_slow_mo_before_first_kill.mp4'>
      24</button>
      <button class="smallunguessed" type="submit" name="val" value='15_911_before_mop_closes_in.mp4'>
      25</button>
      <button class="smallunguessed" type="submit" name="val" value='16_911_and_run.mp4'>
      26</button>
      <button class="smallunguessed" type="submit" name="val" value='17_after_first_kill.mp4'>
      27</button>
      <button class="smallunguessed" type="submit" name="val" value='18_running.mp4'>
      28</button>
      <button class="smallunguessed" type="submit" name="val" value='19_running_then_fall.mp4'>
      29</button>
      <button class="smallunguessed" type="submit" name="val" value='20_first_attack_after_fall.jpg'>
      30</button>
      <button class="smallunguessed" type="submit" name="val" value='20.4_before_arm.webp'>
      31</button>
      <button class="smallunguessed" type="submit" name="val" value='20.5_skate_gun_wrestle.jpg'>
      32</button>
      <button class="smallunguessed" type="submit" name="val" value='21_after_skateboard_attack.jpg'>
      33</button>
      <button class="smallunguessed" type="submit" name="val" value='22_fall_down.mp4'>
      34</button>
      <button class="smallunguessed" type="submit" name="val" value='23_skateboard_shot.jpg'>
      35</button>
      <button class="smallunguessed" type="submit" name="val" value='24_dead_skateboarder.jpg'>
      36</button>
      <button class="smallunguessed" type="submit" name="val" value='25_arm_shot.jpg'>
      37</button>
      <button class="smallunguessed" type="submit" name="val" value='26_arm_screamer.mp4'>
      38</button>
      <button class="smallunguessed" type="submit" name="val" value='27_after_arm_shot.mp4'>
      39</button>
      <button class="smallunguessed" type="submit" name="val" value='28_dead_arm.webp'>
      40</button>
      <button class="smallunguessed" type="submit" name="val" value='29_hand_gun_shot.jpg'>
      41</button>
      <button class="smallunguessed" type="submit" name="val" value='30_meanwhile_in_minneapolis.mp4'>
      meanwhile_in_minneapolis</button>
      <button class="smallunguessed" type="submit" name="val" value='31_minneapolis.mp4'>
      more_minneapolis</button>
      <button class="smallunguessed" type="submit" name="val" value='elsewhere.mp4'>
      ???</button>
      <button class="smallunguessed" type="submit" name="val" value='wtf.mp4'>
      wtf</button>
      <button class="smallunguessed" type="submit" name="val" value='????.mp4'>
      ???</button>
      <button class="smallunguessed" type="submit" name="val" value='?????.mp4'>
      ???</button>
      <button class="smallunguessed" type="submit" name="val" value='baltimore.mp4'>
      baltimore</button>
      <button class="smallunguessed" type="submit" name="val" value='DC?.mp4'>
      DC?</button>
      <button class="smallunguessed" type="submit" name="val" value='florida.mp4'>
      florida</button>
    </form>
    </div> {# END normalscroll #}
  <div class="normalscroll">
  <a href="https://fightback.law/products/donations-for-kyle-rittenhouse?variant=36065873854631" target="_blank">
    <img src="static/kenosha/trading_card.webp" width="100%" alt="oops"></a>
    <p style="padding-left: 1em;" class="normalscroll edge">
    </p>
   </div> 
  <div class="standardspace"></div>
  {# <div class="standardspace"></div>
    <a href="https://www.deviantart.com/sharpwriter/art/George-Washington-The-Original-Master-Chief-326394546" target="_blank">
    <img class="normalscroll" src="static/george.png" width="75" alt="oops"></a>
    <p style="padding-left: 1em;" class="normalscroll edge">
    </p>
  <div class="standardspace"></div>
  </div> #}
  </div> {# END substandard #}
  </div> {# END splayspace #}
</div> {# END splay #}
</div> {# END standardspace #}
    
{% endblock %}
