{% extends "base.html" %}

{% block content %}

{# not sure why i didn't need a standardspace here.  the ul nerfs?
whatever, it works, other stuff to do#}
<div class="standardspace">
<div class="splay">
  <div class="splayspace">
  
  </div>
 
  <div class="substandard">
    <a target="_blank" href="https://www.youtube.com/watch?v=ozfaLzjjZyE">
    https://www.youtube.com/watch?v=ozfaLzjjZyE</a>
    <a target="_blank" href="https://www.bitchute.com/video/Hg_uMxZ7oTY/">
    google 2019</a>
    <a target="_blank" href="https://www.bitchute.com/video/DYWqwY0rp0C1/">
    common purpose</a>
    {# <a class="space" href="https://www.bitchute.com/video/Hg_uMxZ7oTY/" target="_blank">
google 2019</a>
<a class="space" href="https://www.youtube.com/watch?v=Tb2iFikOwYU" target="_blank">
Trevor Phillips</a> #}
    
    <p class="pushdown">wail into the deafening silence of the silicate wastes
    <a href="../errata">more news</a></p>
    <div class="pushdown">
    <form action="/chat" method='POST'>
      <input type="text" name="babble" value="" maxlength="60">
      <button class="real unpicked" type="submit" value='SCREAM'>SCREAM</button>
    </form>
    </div>
    <div class="splay">
      <div class="ul">    
        <ul>
          <form action="/stalk" method='GET'> 
          {% if babblings %}
            {% for babble in babblings %}
              <li><button class="funtimes" onMouseOver="this.style.color='{{colors[0]}}'"
                onMouseOut="this.style.color='{{colors[babble[1].babbler.memberlevel]}}'"
                style="color: {{colors[babble[1].babbler.memberlevel]}};"
                name="member" value="{{babble[1].babbler.id}}">
                {{babble[1].babbler.username}}: </button>
                <span style="color: {{babble[0]}}" class="normalinlinescroll funtimes">
                {{babble[1].babble}}</span>
                <span style="color: {{babble[0]}}" class="phoneinlinescroll shrunk">
                {{babble[1].babble}}</span>
              </li>
            {% endfor %}
          {% endif %}
          </form>
        </ul>
      </div> {# END ul div #}
    </div> {# END inner splay #}
  </div> {# END substandard #}
  
  <div class="splayspace" style="min-width: 0;">
  <div class="substandard" style="margin: 0em 1em 0em 1em;">
 
   
    <a href="https://www.deviantart.com/sharpwriter/art/George-Washington-The-Original-Master-Chief-326394546" target="_blank">
    <img class="normalscroll" src="static/george.png" width="75%" alt="oops"></a>
    <p style="padding-left: 1em;" class="normalscroll edge">
    </p>
    

  </div> {# END substandard #}
  </div> {# END splayspace #}
</div> {# END splay #}
</div> {# END standardspace #}
    
{% endblock %}
