{% extends "base.html" %}

{% block content %}

<!-- i just copied and pasted and altered it from w3schools, i don't really know anything
about javascript or google charts -->
<section class="splay">
<div class="ul">
<div class="fakeul" id="piechart"></div>
</div>
</section>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Vote', 'members'],
  ['Yes', {{yes}}],
  ['No', {{no}}],
  ['Abstain', {{abstain}}]
]);

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  //chart.draw(data, options);
  chart.draw(data, {
  width: 700,
  height: 600,
  title: 'Are dust masks for crybabies?',
  backgroundColor: 'transparent',
  titleTextStyle: {
        color: 'white'
    },
  legend: {
        textStyle: {
            color: 'white'
        }
    },
  colors: ['mediumaquamarine', 'tomato', '#66AACD'],
  is3D: true
});
}
</script>

{% endblock %}
