{% extends "base.html" %}

{% block content %}

{# not sure why i didn't need a standardspace here.  the ul nerfs?
whatever, it works, other stuff to do#}
<div class="standardspace">
<div class="splay">
  <div class="splayspace">
  </div>
  <div class="splayspace substandard">
  <form action="/" method="GET">
  <p class="pushdown" style="min-width: 30em;">Starting on a new project, calling it
  www.silicatearchives.com.
  I'm making
  it
  to replace any spreadsheets, calendars, customer databases, slab yard info, job databases, production
  schedules, etc, etc, etc. that any granite shop uses.  It will all be online and work in a web browser
  and I think I'll make a free version.  Also you'll be able to download all your data and work
  off-line, either in a browser or another program I'll make.  Also you'll be able to export everything
  to excel sheet format just in case the whole system crashes.  Also I'll be making apple/android apps
  for shop guys to click off jobs when they're done or trucks are loaded, etc so you can keep track of
  how much time and labor the average foot of OG edge takes, etc.  Hand polishers will be able to vote
  whether the cnc did a perfect job or if they had to touch it up and tooling guys will be able to post
  what tooling they're using and how often they maintain it, etc.  If you want to send me any
  spreadsheets or anything that describes the system you use to organize to give me ideas send them
  to me at <a href="mailto:dustyweasel@protonmail.com">dustyweasel@protonmail.com</a></br></br>
  I started on this months ago but I learned a lot while I was doing it and I did some more studying
  and I'm starting over.
  </br></br>
  You can change your password.  Go to <a href="../newpass">
  https://www.silicatewastes.com/newpass</a> Think long and hard and don't forget what you
  put in there.</p>
    <button class="real unpicked pushdown" >BACK</button>
  </form>
    
  </div> {# END standard #}
  <div class="splayspace">
  </div>
</div> {# END splay #}
</div>
    
{% endblock %}
