{% extends "base.html" %}

{% block content %}


  <p>
  Total ratings = {{totalrates}}
  </p>
  <section class="splay">
    <table>
      <thead>
        <tr>
          <th class="narrow">ID</th>
          <th class="wide">Username</th>
          <th class="narrow">Ratings</th>
          <th class="narrow">Avg. Rating</th>
          <th class="narrow"><span class="shrunk">Downloads</span></th>
        </tr>
      </thead>
      <tbody class="gridded">
      <form action="/stalk" method='GET'>
        <input type="hidden" name="screen" value="{{screen}}" />
      {% for rater in superraters %}
        <tr>
          <td class="narrow"><span class="rating">{{rater[0]}}</span></td>
          
          <td class="wide"><button class="funtimes" onMouseOver="this.style.color='{{colors[0]}}'"
            onMouseOut="this.style.color='{{colors[rater[2]]}}'"
            style="color: {{colors[rater[2]]}};"
            name="member" value="{{rater[0]}}" >{{rater[1]}}</button></td>
          
          <td class="narrow"><span class="rating">{{rater[5]}}</span></td>
          <td class="narrow"><span class="rating">{{rater[4]}}</span></td>
          <td class="narrow"><span class="rating">{{rater[3]}}</span></td>
        </tr>
      {% endfor %}
      </form>
      </tbody>
    </table>
  </section>

{% endblock %}
