{% extends "base.html" %}

{% block content %}

<div class="standardspace">
  <div class="splay">
    <div class="splayspace"></div>
    <div class="substandard">
    <div id="prate">
    <p>Please don't compete to be at the top of this list.  A few accurate ratings
    are better than mass blind ratings.<br/>
    Total ratings = {{totalrates}}
    </p>
    </div>
    <div class="splay">
    <table>
      <thead id="tablerate">
        <tr>
          <th class="narrow">ID</th>
          <th class="wide">Username</th>
          <th class="narrow"><span class="shrunk">Ratings</span></th>
          <th class="narrow">Avg. Rating</th>
          <th class="narrow right"><span class="shrunk">Down-loads</span></th>
        </tr>
      </thead>
      <tbody class="gridded">
      <form action="/stalk" method='GET'>
        <input type="hidden" name="screen" value="{{screen}}" />
      {% for rater in superraters %}
        <tr>
          <td class="narrow"><span class="rating">{{rater[0]}}</span></td>
          
          <td class="wide"><button class="funtimes" onMouseOver="this.style.color='{{colors[0]}}'"
            onMouseOut="this.style.color='{{colors[rater[2]]}}'"
            style="color: {{colors[rater[2]]}};"
            name="member" value="{{rater[0]}}" >{{rater[1]}}</button></td>
          
          <td class="narrow"><span class="rating">{{rater[5]}}</span></td>
          <td class="narrow"><span class="rating">{{rater[4]}}</span></td>
          <td class="narrow right"><span class="rating">{{rater[3]}}</span></td>
        </tr>
      {% endfor %}
      </form>
      </tbody>
    </table>
    </div>
    </div> {# END substandard #}
    
    <script type="text/javascript">
    var ratesize=document.getElementById('tablerate').offsetWidth;
    document.getElementById('prate').style.width=ratesize;
    </script>
    
    <div class="splayspace"></div>
  </div>  {# END splay #}
</div>  {# END standard #}

{% endblock %}
