{% extends "base.html" %}

{% block content %}

<div class="scoot standardspace">
<p>100 most recent ratings.</p>
  <section class="splay">
  <table>
    <thead>
      <tr>
        <th class="wide">Username</th>
        <th class="wide center">Sink</th>
        <th class="narrow">Rating</th>
        <th class="medium">Comment</th>
      </tr>
    </thead>
    <tbody class="gridded">
    {% for rating in ratings %}
      <tr>
      <form action="/stalk" method='GET'>
        <td class="wide"><button class="funtimes" onMouseOver="this.style.color='{{colors[0]}}'"
            onMouseOut="this.style.color='{{colors[rating[4]]}}'"
            style="color: {{colors[rating[4]]}};"
            name="member" value="{{rating[5]}}">{{rating[1]}}</button>
        </td>
      </form>
      <form action="/sink" method='GET'>
        <td class="wide"><button class="smallunguessed" onMouseOver="this.style.color='{{colors[0]}}'"
            onMouseOut="this.style.color='{{rating[8]}}'"
            style="color: {{rating[8]}};"
            name="cad" value="{{rating[6]}}">{{rating[0]}}</button>
        </td>
        <td class="narrow"><span class="rating">{{rating[2]}}</span></td>
        <td class="medium">{{rating[3]}}</td>
      </form>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </section>
</div>

{% endblock %}
