{% extends "base.html" %}

{# VARIABLES IN:
  donor - which guy
  guys - list of class Donator
  cloneguys - list of relevant guys
  current_folder - selected folder
  staticsearchval - search value
  folders - all the relevant folders in donor's root directory
  cads - all the relevant cads in current_folder
  
  VARIABLES OUT:
  later.
  plus maybe i can kill some of them
#}

{% block content %}

  <div class="fill scoot">
      <ul class="scrollable">
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsffffffffffffffffffffffff</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>adsfadsf</li>
      <li>laast</li></ul>
      
  </div>

{% endblock %}
