{% extends "base.html" %}

{# VARIABLES IN:
  donor - which guy
  guys - list of class Donator
  cloneguys - list of relevant guys
  current_folder - selected folder
  staticsearchval - search value
  folders - all the relevant folders in donor's root directory
  cads - all the relevant cads in current_folder
  
  VARIABLES OUT:
  later.
  plus maybe i can kill some of them
#}

{% block content %}

<div class="standardspace">
  <section class="splay">
    <table class="scoot">
      <thead>
        <th class="superwide">
          <form action="/" method='GET'>
            <select style="background-color: {{selectcolor}}" class="pushdown" name="guy"
            onchange='if(this.value != 0) { this.form.submit(); }'>
            {% for guy in guys %}
              <option value="{{guy}}">{{guy}}</option>
            {% endfor %}
            </select> /
         
            <select style="background-color: {{selectcolor}}" class="pushdown" name="folder"
            onchange='if(this.value != 0) { this.form.submit(); }'>
            {% for folder in folders %}
              <option value="{{folder}}">{{folder}}</option>
            {% endfor %}
            </select> /
          </form>
        </th>
        <th class="narrow">avg. rating</th>
      </thead>
      <tbody>
        {% for cad in cads %}
        <tr>
          <td class="superwide">{{cad[0]}}</td>
          <td style="color: {{cad[3]}}" class="narrow"><span class="rating">{{cad[2]}}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
  
{% endblock %}
