{% extends "base.html" %}

{# VARIABLES IN:
  donor - just .location of current guy this time
  folder - selected folder
  sink - selected sink
  user_rating - class Rating
  username - logged on guy's name
  ratings - list of class Ratings
  previous_sink - previous sink
  
  VARIABLES OUT:
  later.
  plus maybe i can kill some of them
#}

{% block content %}

  {% if previous_sink %}
    <form class="lesscenter" action="/sink" method='POST'>
      <input type="hidden" name="cad" value="{{cad}}" />
      <input type="hidden" name="donor" value="{{donor}}" />
      {% if folder %}
        <input type="hidden" name="current_folder" value="{{folder}}" />
      {% else %}
        <input type="hidden" name="current_folder" value="" />
      {% endif %}
      <input type="hidden" name="sink" value="{{sink}}" />
      <p class="blue">Wait! Rate the last sink you downloaded:</p>
      <p class="blue">{{previous_sink.location}}</p>
      <table class="download">
        <tr class="centerheader" >
          <td>user</td><td>Rating</td><td>Comment</td>
        </tr>
        <tr class="spiffy">
          <td class="selfline">{{username}}</td>
          <td class="selfline">
            <label for="1">1</label>
            <input id="1" type="radio" name="starsB" value="1">
            <label for="2">2</label>
            <input id="2" type="radio" name="starsB" value="2">
            <label for="3">3</label>
            <input id="3" type="radio" name="starsB" value="3">
          </td>
          <td class="selfline"><input type="text" name="commentB" value="" maxlength="60"></td>
          <td>
            <button class="real" name="rate_previous" >RATE</button>
            <button class="real" name="forgot" >LATER</button>
          </td>
        </tr>
      </table>
      <hr/>
      <h1 class="blue" >rating system:</h1>
      <p class="blue" >1-REMAKE&nbsp&nbspThis cutout was so bad that it caused a remake.<br/><br/>
        2-GOOD ENOUGH&nbsp&nbspYou cut this sink and all you know is the job got installed
        and you never heard anything about it.<br/><br/>
        3-PERFECT&nbsp&nbspYou examined the CAD file and verified that the transitions between
        arcs and lines are smooth (tangent lines parallel at transitions).  After
        it was cut you checked the cutout to the sink with a tape measure and verified the
        overhang was the same across the entire countour.<br/><br/>
        If you haven't cut it yet then click the LATER button but please write down the sink info and
        come back and rate it later.
      </p>
    </form>
    <hr/>
    <p class="lesscenter" >
      please rate the sink above to load your selected sink:<br/>
      {% if folder %}
        {{donor}}/{{folder}}/{{sink}}
      {% else %}
        {{donor}}/{{sink}}
      {% endif %}
      <br/><br/>
      Tip: Not every bad rating is valid.  If you know how to protect yourself
      from remakes then check out a poorly rated sink and rate it yourself.
      
    </p>
  {% else %}
    <div class="fakecenter">
      {% if folder %}
        <p class="lineup">{{donor}}/{{folder}}/{{sink}}</p>
      {% else %}
        <p class="lineup">{{donor}}/{{sink}}</p>
      {% endif %}
            
            
        <div class="stick">
          <form class="stick"action="/downloadfile" method='POST'>
            <input type="hidden" name="donor" value="{{donor}}" />
            {% if folder %}
              <input type="hidden" name="current_folder" value="{{folder}}" />
            {% else %}
              <input type="hidden" name="current_folder" value="" />
            {% endif %}
            <input type="hidden" name="sink" value="{{sink}}" />
        
            <button class="real" name='download'>DOWNLOAD</button>
          </form>
          <form class="stick" action="/downloadfile" method='GET'>
            <input type="hidden" name="donor" value="{{donor}}" />
            {% if folder %}
              <input type="hidden" name="current_folder" value="{{folder}}" />
            {% else %}
              <input type="hidden" name="current_folder" value="" />
            {% endif %}
            <button class="real" name="cancel" >HOME</button>
          </form>
        </div>
    </div>
    <p class="scootcrazy" >Donate $5 to this
    charity:
    <a target="_blank"
    href="https://www.facebook.com/donate/683061848834628/?fundraiser_source=external_url">
    Annie's Hope</a>.
    Get a <span class="golden">mediumpurple user name</span>.</p>
        
  {#  <form action="/sink" method='POST'>
      <input type="hidden" name="donor" value="{{donor}}" />
      {%  if folder %}
        <input type="hidden" name="current_folder" value="{{folder}}" />
      {% else %}
        <input type="hidden" name="current_folder" value="{{folder}}" />
      {% endif %}
      <input type="hidden" name="sink" value="{{sink}}" />
      <input type="hidden" name="username" value="{{username}}" /> #}
      
      
      <hr/>
      <div class=shortscroll>
        <p class="scoot" >
          1-REMAKE&nbsp&nbsp&nbsp2-GOOD ENOUGH&nbsp&nbsp&nbsp3-PERFECT<br/>
          Don't guess.  Cut before you rate unless you're sure it's
          a remake.
        </p>
        <table class="download">
        
          <form action="/sink" method='POST'>
            <input type="hidden" name="cad" value="{{cad}}" />
            <input type="hidden" name="donor" value="{{donor}}" />
            {%  if folder %}
              <input type="hidden" name="current_folder" value="{{folder}}" />
            {% else %}
              <input type="hidden" name="current_folder" value="{{folder}}" />
            {% endif %}
            <input type="hidden" name="sink" value="{{sink}}" />
            <input type="hidden" name="username" value="{{username}}" />
        
          <tr class="centerheader" >
            <td>user</td><td>Rating</td><td>Comment</td>
          </tr>
          {% if user_rating %}
            <tr class="spiffy">
              <td class="selfline">{{user_rating.rater.username}}</td>
              <td class="selfline">{{user_rating.stars}}</td>
              <input type="hidden" name="stars"
              value="{{user_rating.stars}}" />
              <td class="selfline">{{user_rating.comment}}</td>
              <input class="clonebutton" type="hidden" name="comment"
              value="{{user_rating.comment}}">
              <td><button class="real" name="change" >CHANGE</button></td>
            </tr>
          {% elif username %}
            <tr class="spiffy">
              <td class="selfline">{{username}}</td>
              <td class="selfline">
                <label for="1">1</label>
                <input id="1" type="radio" name="stars" value="1">
                <label for="2">2</label>
                <input id="2" type="radio" name="stars" value="2">
                <label for="3">3</label>
                <input id="3" type="radio" name="stars" value="3">
              </td>
              <td class="selfline"><input type="text" name="comment" value="" maxlength="60"></td>
              <td><button class="real" name="add">RATE</button></td>
            </tr>
             {% endif %}
          </form>
          
      <form action="/sink" method='GET'>
        <input type="hidden" name="cad" value="{{cad}}" />
        
            
            
            
         
          {% for rating in ratings %}
            <tr>
              {% if not username or username!=rating.rater.username %}
                {% if rating.rater.memberlevel==1 %}
                  <td><button class="funtimes" name="member"
                  value="{{rating.rater.id}}" >{{rating.rater.username}}</button></td>
                {% elif rating.rater.memberlevel==0 %}
                  <td><button class="siltimes" name="member"
                  value="{{rating.rater.id}}" >{{rating.rater.username}}</button></td>
                {% elif rating.rater.memberlevel==2 %}
                  <td><button class="giver" name="member"
                  value="{{rating.rater.id}}" >{{rating.rater.username}}</button></td>
                {% endif %}
                <td>{{rating.stars}}</td>
                <td>{{rating.comment}}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </form>
                    
        </table>
        {% if ratings|length == 0 %}
          <p class="errormessage scoot">Warning!  No one has rated this sink!</p>
        {% endif %}
      </div>
  {% endif %}

{% endblock %}
