{% extends "base.html" %}

{% block content %}

<div> {# pointless div #}
  <table class="scoot vspace">
    <tr>
      <th>ID</th>
      {# <th>Name</th> #}
      <th>Downloads</th>
      <th class="wide">Catchphrase</th>
      <th class="wide">Company</th>
      <th>State</th>
      <th>Avg. Rating</th>
    </tr>
    <tr>
      <td><span class="rating">{{memberdata.id}}</span></td>
      {# <td style="color: {{colors[memberdata.memberlevel]}};" class="funtimes">
      {{memberdata.username}}</td> #}
      <td><span class="rating">{{memberdata.benefactor}}</span></td>
      <td class="wide">{{memberdata.catchphrase}}</td>
      <td class="wide">{{memberdata.company}}</td>
      <td>{{memberdata.state}}</td>
      <td><span class="rating">{{memberdata.avg_rating}}</span></td>
    </tr>
  </table>
        
  {% if memberdata.id != 1 %}
    <p class="scoot pushdown">Send
      a 20 character message to {{memberdata.username}} through silicatewastes@gmail.com.
      Your email address will be included.</p>
          
    <form action="/stalk" method='POST'>
      <input type="hidden" name="victim" value="{{memberdata.id}}" >
      <input class="scootmore" type="text" name="harassment" maxlength="20">
      <button class="real unpicked pushdown" >SEND</button>
    </form>
  {% else %}
    <p class="scoot">Email addresses will remain hidden on this website.  Except for
    mine.  Here it is:<br/>
    <a href="mailto:dustyweasel@protonmail.com">dustyweasel@protonmail.com</a></p>
  {% endif %}
          
  <p class="scoot"><span style="color: {{colors[memberdata.memberlevel]}};" class="funtimes">
  {{memberdata.username}}'s sink ratings:</span></p>
</div>

  {% if memberratings %}
  <section class="splay">
    <table class="scoot">
      <thead>
        <tr>
          <th class="superwide">Sink</th>
          <th class="narrow">Rating</th>
          <th class="wide">Comment</th>
        </tr>
      </thead>
      <tbody class="gridded">
        <form action="/sink" method='GET'>
        {% for memberrating in memberratings %}
          <tr>
            <td class="superwide"><button class="smallunguessed" name="cad" value="{{memberrating.sink_id}}">
            {{memberrating.location}}</button></td>
            <td class="narrow"><span class="rating">{{memberrating.stars}}</span></td>
            <td class="wide">{{memberrating.comment}}</td>
          </tr>
        {% endfor %}
        </form>
      </tbody>
    </table>
  </section>
  {% else %}
    <p class="errormessage scoot">{{memberdata.username}} hasn't rated any sinks.</p>
  {% endif %}

      
{% endblock %}
