{% extends "base.html" %}

{# VARIABLES IN:
  members - all registered users
  
  VARIABLES OUT:
#}

{% block content %}

<div>
        <p class="scoot">
            <span class="funtimes">DICTATOR FOR LIFE</span>
            <span class="siltimes">STANDARD USER</span>
            <span class="giver">CAD FILE DONATOR</span>
        </p>
        {# <div class="scrollable2"> #}
        <form action="/stalk" method='GET'>
          <table class="download">
            <thead>
            <tr class="centerheader" >
              <th class="stick3 narrow">ID</th>
              <th class="stick3 wide">NAME</th>
              <th class="stick3 medium">DOWNLOADS</th>
              <th class="stick3 wide">CATCHPHRASE</th>
              <th class="stick3 wide">COMPANY</th>
              <th class="stick3 narrow">STATE</th>
            </tr>
            </thead>
            <tbody class="tscroll">
            {% for member in members %}
            <tr class="gridded">
              <td class="narrow">{{member.id}}</td>
              {% if member.memberlevel==1 %}
                <td class="wide"><button class="funtimes" name="member"
                value="{{member.id}}">{{member.username}}</button></td>
              {% elif member.memberlevel==0 %}
                <td class="wide"><button class="siltimes" name="member"
                value="{{member.id}}">{{member.username}}</button></td>
              {% elif member.memberlevel==2 %}
                <td class="wide"><button class="giver" name="member"
                value="{{member.id}}">{{member.username}}</button></td>
              {% endif %}
              <td class="medium">{{member.benefactor}}</td>
              <td class="wide">{{member.catchphrase}}</td>
              <td class="wide">{{member.company}}</td>
              <td class="narrow">{{member.state}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </form>
      {# </div> #}
</div>

{% endblock %}
