{% extends "base.html" %}

{% block content %}

<div class="standardspace">
  <p class="scoot vspace">
    <span style="color: {{colors[1]}}" class="funtimes">DICTATOR FOR LIFE</span>
    <span style="color: {{colors[3]}}" class="funtimes">STANDARD USER</span>
    <span style="color: {{colors[2]}}" class="funtimes">CAD FILE DONATOR</span>
  </p>
  <section class="splay">
    <table class="scoot">
      <thead>
        <tr class="centerheader" >
          <th class="narrow">ID</th>
          <th class="medium">Name</th>
          <th class="narrow"><span class="shrunk">Downloads</span></th>
          <th class="medium">Catchphrase</th>
          <th class="medium">Company</th>
          <th class="narrow">State</th>
        </tr>
      </thead>
      <tbody class="gridded">
      <form action="/stalk" method='GET'>
      {% for member in members %}
        <tr class="gridded">
          <td class="narrow"><span class="rating">{{member.id}}</span></td>
          
            <td class="medium"><button class="funtimes" onMouseOver="this.style.color='{{colors[0]}}'"
            onMouseOut="this.style.color='{{colors[member.memberlevel]}}'"
            style="color: {{colors[member.memberlevel]}};"
            name="member" value="{{member.id}}">{{member.username}}</button></td>
          
          <td class="narrow"><span class="rating">{{member.benefactor}}</span></td>
          <td class="medium">{{member.catchphrase}}</td>
          <td class="medium">{{member.company}}</td>
          <td class="narrow">{{member.state}}</td>
        </tr>
      {% endfor %}
      </form>
      </tbody>
    </table>
  </section>
</div>

{% endblock %}
