{% extends "base.html" %}

{% block content %}

<div class="standardspace">
<div class="splay">
  <div class="splayspace"></div>
  <div class="substandard">
  <p class="pushdown">Total Downloads (since May 2019) = {{totaldownloads}}&nbsp&nbsp&nbsp&nbsp (I repeatedly download M205
  when testing.)</p>
  <div class="splay">
  <table>
    <thead>
      <tr>
        <th class="narrow"><span class="normalscroll">Rank</span></th>
        <th class="narrow"><span class="normalscroll shrunk">Avg. Rating</span></th>
        <th class="superwide"><span class="normalscroll">Sink</span>
        <span class="phonescroll shrunk">Sink</span></th>
        <th class="narrow"><span class="shrunk">Down-loads</span></th>
      </tr>
    </thead>
    <tbody class="gridded">
    <form action="/sink" method='GET'>
    <input type="hidden" name="screen" value="statsinks"/>
    <input type="hidden" name="page" value="{{page}}"/>
    {% for download in topdownloads %}
      <tr>
        <td class="narrow"><span class="rating">{{download[0]}}</span></td>
        {% if download[3] %}
          <td style="color: {{download[5]}}" class="narrow"><span class="rating">{{download[3]}}
          </span></td>
        {% else %}
          <td class="narrow"></td>
        {% endif %}
        <td class="superwide"><button class="smallunguessed" name="cad" value="{{download[4]}}" >
        {{download[1]}}</button></td>
        <td class="narrow"><span class="rating">{{download[2]}}</span></td>
      </tr>
    {% endfor %}
    </form>
    </tbody>
  </table>
  </div> {# END table splay #}
  </div> {# END substandard #}
  <div class="splayspace"></div>
</div>
</div>

{% endblock %}
