{% extends "base.html" %}

{% block content %}

<div class="scoot standardspace">
  <p class="vspace pushdown">Total Downloads = {{totaldownloads}} (since May 2019)</p>
  <section class="splay">
  <table>
    <thead>
      <tr>
        <th class="narrow">Rank</th>
        <th class="narrow">Avg. Rating</th>
        <th class="superwide">Sink</th>
        <th class="narrow"><span class="shrunk">Downloads</span></th>
      </tr>
    </thead>
    <tbody class="gridded">
    <form action="/sink" method='GET'>
    <input type="hidden" name="screen" value="statsinks"/>
    <input type="hidden" name="page" value="{{page}}"/>
    {% for download in topdownloads %}
      <tr>
        <td class="narrow"><span class="rating">{{download[0]}}</span></td>
        {% if download[3] %}
          <td style="color: {{download[5]}}" class="narrow"><span class="rating">{{download[3]}}
          </span></td>
        {% else %}
          <td class="narrow"></td>
        {% endif %}
        <td class="superwide"><button class="smallunguessed" name="cad" value="{{download[4]}}" >
        {{download[1]}}</button></td>
        <td class="narrow"><span class="rating">{{download[2]}}</span></td>
      </tr>
    {% endfor %}
    </form>
    </tbody>
  </table>
  </section>
</div>

{% endblock %}
