{% extends "base.html" %}

{% block content %}
<div class="standardspace scoot">
  <h1>Those who seek to wander the silicate wastes must first enter the secret key.
  Checketh thy email, {{user.username}}.</h1>
  <div class="pushdown space">
  <form action="/verify" method='POST'>
    <input type="hidden" name="username" value="{{user.username}}">
    <input type="hidden" name="password" value="{{user.hashpass}}">
    <input type="hidden" name="email" value="{{user.email}}">
    <input type="hidden" name="company" value="{{user.company}}">
    <input type="hidden" name="catchphrase" value="{{user.catchphrase}}">
    <input type="hidden" name="state" value="{{user.state}}">
    <input type="hidden" name="dust" value="{{user.dustmask}}">
    <input class="scoot" name="secretpass" type="text" maxlength="6">
    <button class="real unpicked" name="ENTER" value="ENTER">ENTER</button>
  </form>
  </div>
  <p>Don't close this page.  Open your email in another tab.<br/>
  Contact me with problems at dustyweasel@protonmail.com.  Don't email silicatewastes@gmail.com.  I never check that.</p>
</div>
{% endblock %}
